@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
    box-sizing: border-box;
}

:root{
    --prim-color: #0b012e;
    --sec-color: #181842;
}

body {
    background-color: var(--prim-color);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

header {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--sec-color);
}

.search {
    background-color: transparent;
    border: 2px solid var(--prim-color);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    color: #fff;

}

.search::placeholder{
    color: #7378c5;
}

.search:focus{
    outline: none;
    background-color: var(--prim-color);
}

main {
    display: flex;
    flex-wrap: wrap;

}

.movie {
    width: 320px;
    margin: 0.5rem;
    background-color: var(--sec-color);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    position: relative;
    border-radius: 3px;
    overflow: hidden;
}

.movie img{
    width:95%;
    margin:0;
}

.movie-info {
    color:#eee;
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 0.2rem;

}

.movie h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--prim-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight:bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: rgb(184, 23, 23);
}

.overview{
    background-color: #fff;
    padding: 2rem;
    position: absolute;
    left:0;
    bottom:0; 
    right:0;
    max-height:100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
    overflow-y:scroll;
}

.movie:hover .overview{
    transform: translateY(0);
}





